[Unit]
Description=make that ids interface do its thang
After=network.target
StartLimitIntervalSec=0

[Service]
Type=Oneshot
User=root
ExecStart=/opt/scripts/intf_prep.sh

[Install]
WantedBy=multi-user.target
root@ansible-master:/opt/ansible_ids/playbooks/templates# cat systemd-zeek.j2
[Unit]
Description=zeek -- metadata all the things!!
After=promisc-interface.service

[Service]
Type=forking
PIDFile=/opt/zeek/spool/zeek/.pid
ExecStart=/opt/zeek/bin/zeekctl deploy
ExecStop=/opt/zeek/bin/zeekctl stop

[Install]
WantedBy=multi-user.target